@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}


.header {
  font-family: garamond;
  font-size: 2rem;
  color: #333;
  text-align: center;
  justify-content: center;
  width: 100%;

}


.typed-text {
  color: #007acc;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  width: fit-content; /* Only occupies necessary width */
  max-width: 16ch; /* Constrains max width based on expected text length */
  border-right: 3px solid #007acc;
  animation: typing 3s steps(20, end), blink .5s step-end infinite alternate;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.navbar{
  width: 100%;
}
.divider{
  margin: auto;
  display: flex;
  width: 40%;
  position: relative;
  margin-top:25px;
}
.footer{
  font-family: Garamond;
  background-color: rgb(8 47 73);
  color: #FAFAFA;
  width: 100vw;
  text-align: center;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.footer-text {
  margin: 0.5rem;
  font-size: 10px;
}

.intro-section, .about-section {
  flex: 1;
  padding: 1rem 1rem;
  flex-direction: column;
}


@layer base {
  html {
    font-family: garamond;
    background-color: white;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


}
.p{
  font-family: garamond;
}
.bio{
 
  flex: auto;
  align-items: center;
  padding-left: 20px;
  padding-left: 20px;

}
.hover {
  text-decoration: underline;
}

.hover-poetry:hover, body:has(.hover-poetry:hover) .poetry {
  background-color: #caffaf;
}

.hover-prose:hover, body:has(.hover-prose:hover) .prose {
  background-color: #89f9e3;
}

.poetry{
  text-decoration: underline
}
.prose{
  text-decoration: underline
}

.journ{
  text-decoration: underline
}


.hover-journ:hover, body:has(.hover-journ:hover) .journ {
  background-color: #e4b4f2;
}
/*
a:hover {
  background-color: yellow;
  text-decoration: none;
}
*/
.contact{
  font-family: garamond;
}


.font-xs {
  font-size: 0.8rem;
}


.wrapper {
  min-height: 100vh;
  position: relative;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

.about-section {
  padding: 2rem;
  font-family: var(--font-garamond);
  color: black;
  display: flex;
  height:100vh;
}

.intro-picture{
  
  height:400;
  border-radius:100px;
}
.about-container{
  display: flex;
  flex-direction: column;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  align-items: center;
}

.portrait-container {
  display: flex;
  justify-content: center;
}

.portrait-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.bio-text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* larger screen layout */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
  }

  
}

/* MOBILE */
@media (max-width:768px){
  .bio-text{
    .bio-text {
      text-align: left;
      margin: 1rem;
    }
  }
}