/* --- NavBar --- */
.navHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f3f3;
  z-index: 100;
  border-bottom: 1px solid #ddd;
    font-family: var(--font-family-zen-old-mincho);

}

.nav {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.brand {
  font-size: 1.25rem;
  font-weight: 600;
  color: #c47a88;
  font-family: var(--font-family-zen-old-mincho);
}

.brandLink {
  text-decoration: none;
  color: inherit;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navItem {
  font-size: 1rem;
}

.navLink {
  text-decoration: none;
  color: #c47a88;
  font-family: var(--font-family-zen-old-mincho);
  position: relative;
  transition: color 0.2s ease-in-out;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #c47a88;
  transition: width 0.3s ease;
}

.navLink:hover {
  color: var(--text-dark, #111);
}

.navLink:hover::after {
  width: 100%;
}
